version: "3.9"

services:
  backend:
    build:
      context: ../Server
    environment:
      - PORT=3001
      - CORS_ORIGIN=https://contentmanager.albertohugonin.it
    expose:
      - "3001"
    restart: unless-stopped
    networks:
      - proxy

  frontend:
    build:
      context: ../Client/my-app
    expose:
      - "80"
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    external: true